

</div>

<div id="left">

  <div id="content">
    <% form_tag search_index_path, :method => :get, :id => "form_search" do %>
    <ul>
      <li><input name="search" class="input" type="text" /></li>
      <li><input id="btn_search" type="submit" value=""></li>
    </ul>
    <%end%>


    <ul id="search_result">
      <% @users.each do |user|%>
      <li>
        <%avatar_for(user,120)%>
        <p><%=link_to user.name, user_path(user)%></p>
        <small><%=user.musts.count%></small>
        <span><a href="#" class="follow">Follow</a></span>
      </li>
      <%end%>

    </ul>
  </div><!-- content --> 
</div>