#recent_must{
	height:430px;
	overflow:hidden;	
}
#recent_must li{
	margin-bottom:15px;
	overflow:hidden;
}
.clear {
	clear:both;
	display:block;
}
#recent_must li .avatar_img{
	border:2px solid #D3D3D3;
	float:left;
	padding:1px;
}
#recent_must li img{
	height:28px;
	width:28px;
}
#recent_must li span{
	font-size:12px;
}
#recent_must li .avatar_content{
	float:left;
	width:43px;
}
#recent_must li .avatar_content_right{
	float:left;
	width:190px;
}
#recent_must li small{
	color:#999999;
	font-size:9px;
}
#recent_must li a{
	border:medium none;
	color:#0099FF;
	font-size:12px !important;
	font-weight:bold;
}
.peoplemusting{
	color:#CE6C01;
	font-size:13px !important;
	font-weight:bold;
	margin-bottom:10px;
}

#content #login form ul li span .input_area{
border:1px solid #CCCCCC;
color:#454555;
display:block;
font-size:12px;
height:80px;
padding:8px;
width:97%;
}


#login_public img{
}

#menu_lower {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
background:none repeat scroll 0 0 #ACD21C;
border:medium none;
color:#000000;
float:left;
font-size:12px;
padding:15px;
width:96%;
}
#menu_lower ul {
float:left
}
#menu_lower ul li {
	display:inline;
	padding:0;
}
#menu_lower ul li a.last {
	color:#FFFFFF;
	padding-left:20px;
	padding-right:20px;
}
#menu_lower ul li a.last:hover {
	color:#D0D0D0;
}
#menu_lower ul li a.selected{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:none repeat scroll 0 0 #FFFFFF;
	border-color:#CCCCCC #EEEEEE #EEEEEE #CCCCCC;
	border-style:solid;
	border-width:1px;
	color:#0099FF;
	font-weight:bold;
	padding:6px 10px;
}
#menu_lower ul li a {
	color:#123456;
	font-weight:bold;
	height:24px;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	text-decoration:none;
}
#menu_lower ul li a:hover {
	color:#0071BD;
}
.form_left{
	float:left;
	margin:0 !important;
}

.bucket_add:hover{
	background-position:left bottom;
}
.bucket_add{
	background:url(../images/bucket_list.png) top left;
	float:left;
	height:16px;
	width:16px;

}

.done_button{
background:url("../images/buttons/doneit.png") repeat scroll left top transparent;
float:left;
height:32px;
width:32px;
}
.done_button:hover{
background-position:left bottom;
}
.postmust{
	margin:16px 38px 0 0 !important;
}


.unbookmark{
	background:url(../images/icons/unbookmark.jpg) top left;
	float:left;
	height:16px;
	width:16px;

}
.unbookmark:hover{
background:url(../images/icons/unbookmark.jpg) bottom left;
}

#content p.description{
color:#666666;
font-size:13px;
line-height:20px;
margin-bottom:25px;
width:75%;
}

.pagination {
float:right;
font-size:11px;
margin-bottom:35px;
margin-right:39px;
padding:3px 0 4px;
    }
        .pagination a,
        .pagination span {
            padding: 3px 3px 2px;
        }
        .pagination .disabled {
            background:none repeat scroll 0 0 transparent;
            border:medium none;
            color:#999999;
            cursor:default;
        }
        .pagination a {
            color:#3B5998;
            cursor:pointer;
            text-decoration:none;
        }
        .pagination a:hover {
            background-color:#3B5998;
            border-bottom:1px solid #3B5998;
            border-color:#D8DFEA #D8DFEA #3B5998;
            color:#FFFFFF;
            text-decoration:none;
        }
        .pagination .current {}
            .pagination .current {
                border-bottom:2px solid #3B5998;
                border-color:#3B5998;
                color:#3B5998;
                font-weight:bold;
                padding-left:2px;
                padding-right:2px;
            }
            .pagination .current a:hover {
                background-color:#3B5998;
                color:#FFFFFF;
            }

        .pagination .prev_page {

        }
        .pagination .next_page {

        }
