<!--right panel start -->
<div id="right">
  <span class="green"><h2>Recent Musts</h2></span>
  <h3>Quiz&aacute; un t&iacute;tulo aca o nada</h3>
  <ul>
    <li>
      <a class="count" href="#">7</a><a href="#">You must read "Apple announces event on October 20th".</a>
    </li>
    <li>
      <a class="count" href="#">88</a><a href="#">You must play "Call of duty, Modern warfare." in your mac</a>
    </li>
    <li>
      <a class="count" href="#">21</a><a href="#">You must kill "that sucker over there"</a>
    </li>
    <li>
      <a class="count" href="#">934</a><a href="#">You must buy "the new honda civic 2011"</a>
    </li>
  </ul>
  <br class="spacer" />
  <p class="wordcloud">
    <span style="font-size:1.3em;">cookie</span>
    <span style="font-size:0.8em;">travel</span>
    <span>buy</span>
    <span style="font-size:1.6em;">software</span>
    <span style="font-size:1.2em;">macbook</span>
    <span style="font-size:2em;">rails rumble</span>
    <span>playstation</span>
    <span style="font-size:1.6em;">awards</span>
    <span>iphone</span>
    <span style="font-size:1.1em;">kindle</span>
    <span>food</span>
    <span style="font-size:1.4em;">test</span>
    <span style="font-size:1.3em;">cookie</span>
    <span style="font-size:0.8em;">travel</span>
    <span>buy</span>
    <span style="font-size:1.6em;">software</span>
    <span style="font-size:1.2em;">macbook</span>
    <span style="font-size:2em;">rails rumble</span>
    <span>playstation</span>
    <span style="font-size:1.6em;">awards</span>
    <span>iphone</span>
    <span style="font-size:1.1em;">kindle</span>
    <span>food</span>
    <span style="font-size:1.4em;">test</span>
  </p>
  <div id="quicksearch">
    <h2>Quicksearch</h2>
    <form name="email" action="#" method="post">
      <input type="text" name="search_terms" value="You must..." />
      <input type="submit" name="signup" value="Search" />
      <br class="spacer" />
    </form>
    <br class="spacer" />
  </div>
</div>
<!--right panel end -->