<h3>About us</h3>


<div id="privacy_terms">

<h3>What is this?</h3>
	<p>You Must Do is a social network where you can add the things that you consider that you and other people Must Do (Read, See, Have, Eat, Visit, etc). You can share your musts with the people of the site and with your friends in other social networks.</p>

	<p>Follow us on twitter: <a href="http://twitter.com/you_must_do">@you_must_do</a></p>

<h3>Special Thanks to</h3>

<p><a href="http://koombea.com">Koombea<a>'s CEO <a href="http://twitter.com/jonathant">Jonathan Tarud</a> for being so awesome with us, for letting us Rumble on Koombea's offices and always be there for us. Thanks man!<p>
<p><a href="http://twitter.com/jestrade">Jesus Estrada</a> and <a href="http://twitter.com/arturoblanco700">Roman Arturo</a> for all their support and all the feedback they gave us<p>
<p>Our friends and Followers who where with us, in these great past 2 days</p>
<p>Guys from #isawthatat who were next door, and made these Rumble so awesome</p>
<p>And of course our girlfriends, for they special messages, and support, we love you girls<p>


<h3>Riders of the Lost Crusade</h3>

<div style="margin-bottom: 30px;">
	<div style="float: left; margin-right: 10px;">
		<img src="http://koombea.com/images/avatars/alvaro_insignares.jpg" alt="Alvaro Insignares Picture">
	</div>

	<div class="right">
		<h1 style="font-size:16px;margin-bottom:5px">Alvaro Insignares</h1>
	</div>

	<p>Alvaro has been a master coder since his early University years. Starting with C++, he later migrated to Java and is now having a Ruby affair. He's an awesome problem solver and knows his way around googling stuff we don't yet know how to do. If you need an SQL script whipped up, this is the guy to call.
	<b>Twitter</b> <a href="http://twitter.com/bbtox">@bbtox</a></p>
</div>


<div style="margin-bottom: 30px;">

	<div style="float: left; margin-right: 10px;">
		<img src="http://koombea.com/images/avatars/mario_tatis.jpg" alt="Mario Tatis Picture">
	</div>

	<div class="right">
		<h1 style="font-size:16px;margin-bottom:5px">Mario Tatis</h1>
	</div>

	<p>Also known as Mayo (nothing to do with the dressing), he started at Koombea working flash websites; later learned Ruby and his awesomeness made him a Senior team member. Mario knows Flex, Flash, PHP and JSP but currently divorced them over Rails.</p>
	<b>Twitter</b> <a href="http://twitter.com/mariotatis">@mariotatis</a></p>
</div>



<div style="margin-bottom: 30px;">

	<div style="float: left; margin-right: 10px;">
		<img src="http://koombea.com/images/avatars/german_garcia.jpg" alt="German Garcia Picture">
	</div>

	<div class="right">
		<h1 style="font-size:16px;margin-bottom:5px">German Garcia</h1>
	</div>

	<p>German is a coder by nature, he's worked in the industrial software field, specifically telemetry. His Java and C skills are second only to his game and 3d development skills. As a loving father, he is also passionate about spending time with his daughter and family. Since he started at Koombea he has quickly become a Ruby master.
	<b>Twitter</b> <a href="http://twitter.com/gealgaro">@gealgaro</a></p>
</div>


<div style="margin-bottom: 30px;">

	<div style="float: left; margin-right: 10px;">
		<img src="http://koombea.com/images/avatars/guillermo_iguaran.jpg" alt="Guillermo Iguaran Picture">
	</div>

	<div class="right">
		<h1 style="font-size:16px;margin-bottom:5px">Alvaro Insignares</h1>
	</div>

	<p>As *nix lover, Guillermo is an active member of the LXDE.org community. His love for things open source led him to learn languages like Python and Ruby. He's the youngest team member, and enjoys spending his time chatting online.
	<b>Twitter</b> <a href="http://twitter.com/anteseraotro">@anteseraotro</a></p>
</div>


</div>