<h3>About us</h3>


<div id="privacy_terms">

  <p>You Must Do is a social network where you can add the things that you consider that you and other people Must Do (Read, See, Have, Eat, Visit, etc). You can share your musts with the people of the site and with your friends in other social networks.</p>

  <p>Follow us on twitter: <a href="http://twitter.com/you_must_do">@youmustdo</a></p>

</div>
