<h1>You Must do</h1>

<p>
	Must (from the Latin vinum mustum, “young wine”) is freshly pressed fruit juice (usually grape juice) that contains the skins, seeds, and stems of the fruit. The solid portion of the must is called pomace; it typically makes up 7%–23% of the total weight of the must. ..
</p>

<p>And also ...</p>

<p>
	Its a social network where you can add the things that you consider that you and other people Must Do (Read, See, Have, Eat, Visit, etc). You can share your musts with the people of the site and with your friends in other social networks.
</p>

<p style="text-align:center;">
<object id="twitcamPlayer" width="320" height="265" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"><param name="movie" value="http://static.livestream.com/chromelessPlayer/wrappers/TwitcamPlayer.swf?hash=2e7v2"/><param name="allowScriptAccess" value="always"/><param name="allowFullScreen" value="true"/><param name="wmode" value="window"/> <embed name="twitcamPlayer" src="http://static.livestream.com/chromelessPlayer/wrappers/TwitcamPlayer.swf?hash=2e7v2" allowFullScreen="true" allowScriptAccess="always" type="application/x-shockwave-flash" bgcolor="#ffffff" width="320" height="265" wmode="window" ></embed></object>
</p>