<h3>These are the Top Must Read</h3>
	
<ul class="musts">
  <li>
 	  <div class="left">
      <a href="#" class="add"></a>
      <span class="add_count">1000</span>
		  <a href="#" class="remove"></a>
		  <span class="remove_count">1000</span>
		</div><!-- left -->
    <div class="right">
      <ul class="icons">
				<li><a class="bookmark" href="#" title=""></a></li>
				<li><a class="facebook" href="#" title=""></a></li>
				<li><a class="twitter" href="#" title=""></a></li>
      </ul>
      <div class="title"><img src="../images/misc/user_profile.jpg">
        <span>You must watch</span> lorem ipsum Green Djhj jk  ffkfhk fk fk kkh fhk ff ikay singing burnout at Bogota's concert in Colombia <small>by mephius</small>
      </div><!-- title -->
      
      <div class="must_content">
        <img src="../images/misc/image_preview.jpg">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make .</p>
        <p><b>Tags:</b> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a></p>
        <p>This must has <a>234 commments</a></p>        
      </div> <!-- must_content -->
      <div class="related">
        <p><b>Related musts</b></p>
	      <p><span>You Must listen</span> <a href="#">When I Come Around from Green Day live at...</a></p>
	      <p><span>You Must watch</span> <a href="#">Metallica singing One live</a></p>
      </div>
    </div><!-- right -->
  </li>
  <li>
 	  <div class="left">
      <a href="#" class="add"></a>
      <span class="add_count">1000</span>
		  <a href="#" class="remove"></a>
		  <span class="remove_count">1000</span>
		</div><!-- left -->
    <div class="right">
      <ul class="icons">
				<li><a class="bookmark" href="#" title=""></a></li>
				<li><a class="facebook" href="#" title=""></a></li>
				<li><a class="twitter" href="#" title=""></a></li>
      </ul>
      <div class="title"><img src="../images/misc/user_profile.jpg">
        <span>You must watch</span> lorem ipsum Green Djhj jk  ffkfhk fk fk kkh fhk ff ikay singing burnout at Bogota's concert in Colombia <small>by mephius</small>
      </div><!-- title -->
      
      <div class="must_content">
        <img src="../images/misc/image_preview.jpg">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make .</p>
        <p><b>Tags:</b> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a></p>
        <p>This must has <a>234 commments</a></p>        
      </div> <!-- must_content -->
      <div class="related">
        <p><b>Related musts</b></p>
	      <p><span>You Must listen</span> <a href="#">When I Come Around from Green Day live at...</a></p>
	      <p><span>You Must watch</span> <a href="#">Metallica singing One live</a></p>
      </div>
    </div><!-- right -->
  </li>
  <li>
 	  <div class="left">
      <a href="#" class="add"></a>
      <span class="add_count">1000</span>
		  <a href="#" class="remove"></a>
		  <span class="remove_count">1000</span>
		</div><!-- left -->
    <div class="right">
      <ul class="icons">
				<li><a class="bookmark" href="#" title=""></a></li>
				<li><a class="facebook" href="#" title=""></a></li>
				<li><a class="twitter" href="#" title=""></a></li>
      </ul>
      <div class="title"><img src="../images/misc/user_profile.jpg">
        <span>You must watch</span> lorem ipsum Green Djhj jk  ffkfhk fk fk kkh fhk ff ikay singing burnout at Bogota's concert in Colombia <small>by mephius</small>
      </div><!-- title -->
      
      <div class="must_content">
        <img src="../images/misc/image_preview.jpg">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make .</p>
        <p><b>Tags:</b> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a> <a href="#">aaa</a></p>
        <p>This must has <a>234 commments</a></p>        
      </div> <!-- must_content -->
      <div class="related">
        <p><b>Related musts</b></p>
	      <p><span>You Must listen</span> <a href="#">When I Come Around from Green Day live at...</a></p>
	      <p><span>You Must watch</span> <a href="#">Metallica singing One live</a></p>
      </div>
    </div><!-- right -->
  </li>
</ul>

<script type="text/javascript">
  var rumbleUrl = 'http://railsrumble.com/teams/the-riders-of-the-lost-crusade';
</script>
<script type="text/javascript">
	var rumbleSash = document.createElement('DIV');
	rumbleSash.setAttribute('id', 'rr10sash');
	rumbleSash.setAttribute('style', 'position: absolute; top: 0; left: 0; z-index: 1000; background: url(\'http://blog.railsrumble.com/images/rumble-r10-sash.png\'); width: 226px; height: 225px;');

	if (typeof rumbleUrl != 'undefined') {
	  var rumbleLink = document.createElement('A');
	  rumbleLink.setAttribute('href', rumbleUrl);
	  rumbleLink.appendChild(rumbleSash);
	  document.body.appendChild(rumbleLink);
	} else {
	  document.body.appendChild(rumbleSash);
	}
</script>
