
  <br class="spacer" />
  <ul class="musts">
    <li>
      <div class="left">
        <a href="#"><img src="images/plus.png" /></a>
        <span class="count">1000</span>
        <a href="#"><img src="images/minus.png" /></a>
      </div>
      <div class="right">
        <a href="#" class="must_remove" alt="Must delete it"><img src="images/trash.png" /></a>
        <a href="#" class="must_star" alt="Must star it"><img src="images/star.png" /></a>
        <a href="#" class="must_tweet" alt="Must tweet it"><img src="images/icn_twitter16.gif" /></a>
        <a href="#" class="must_fb_share" alt="Must fb share it"><img src="images/icn_facebook16.gif" /></a>
        <img src="images/profile_img_default.jpg" />
        <div class="must_title">Must watch: Green Day singing burnout at Bogota's concert in Colombia</div>
        <br class="spacer" />
        <div class="must_content">
          <div class="must_preview">
            <img src="images/video.png" />
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <br class="spacer" />
    </li>
    <li>
      <div class="left">
        <a href="#"><img src="images/plus.png" /></a>
        <span class="count">567</span>
        <a href="#"><img src="images/minus.png" /></a>
      </div>
      <div class="right">
        <a href="#" class="must_remove" alt="Must delete it"><img src="images/trash.png" /></a>
        <a href="#" class="must_star" alt="Must star it"><img src="images/star.png" /></a>
        <a href="#" class="must_tweet" alt="Must tweet it"><img src="images/icn_twitter16.gif" /></a>
        <a href="#" class="must_fb_share" alt="Must fb share it"><img src="images/icn_facebook16.gif" /></a>
        <img src="images/profile_img_default.jpg" />
        <div class="must_title">Must watch: Green Day singing burnout at Bogota's concert in Colombia</div>
        <br class="spacer" />
        <div class="must_content">
          <div class="must_preview">
            <img src="images/video.png" />
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <br class="spacer" />
    </li>
  </ul>
  <br class="spacer" />

</div>

<script type="text/javascript">
  var rumbleUrl = 'http://railsrumble.com/teams/the-riders-of-the-lost-crusade';
</script>
<script type="text/javascript">
	var rumbleSash = document.createElement('DIV');
	rumbleSash.setAttribute('id', 'rr10sash');
	rumbleSash.setAttribute('style', 'position: absolute; top: 0; left: 0; z-index: 1000; background: url(\'http://blog.railsrumble.com/images/rumble-r10-sash.png\'); width: 226px; height: 225px;');

	if (typeof rumbleUrl != 'undefined') {
	  var rumbleLink = document.createElement('A');
	  rumbleLink.setAttribute('href', rumbleUrl);
	  rumbleLink.appendChild(rumbleSash);
	  document.body.appendChild(rumbleLink);
	} else {
	  document.body.appendChild(rumbleSash);
	}
</script>
