<h1>You Must respect the Privacy Policy</h1>

<p>
	
We respect the privacy of our users. We will never sell or disclose any information about you to any third parties for any reason except as may be required by a court order. We will, on occassion, send email updates to our users about You Must updates, and news about our products and our company, but we will not give access to your email to any third party for any reason, except as may be required by law.

We believe that open access to you profile information is important for you and your peers. The content that you create on You Must is viewable by the public and can be indexed and found via search engines. This includes links to your accounts, name, description, pictures, and anything you may post on your account. If there is something that you don’t want other people to be able to see, it’s best not to post it.

You Must collects information about your browser and your IP address when you visit so that we can deliver the optimal experience for you. We also use a session ID cookie to make sure that you stay logged in during your visit and a persistent cookie that stores information about who you are to make it easier to log in each time you visit. Cookies are bits of information that are stored on your computer that allow You Must to recognize you when you come back. You can remove or block cookies using the settings in your browser, however this may impact site usability.

If you have any questions about your privacy, or how we use the data you submit to You Must please write that in a piece of paper and put it in a safe place, then just wait until we have our support email.

</p>