<h1>You Must read our Terms of Service</h1>


<p>At You Must, we aim to provide a friendly environment for users to share information and content. We trust that you are here for fun and will engage each other in a civil and neighborly manner. We don’t expect that we’ll need to remind you of this in the future, but just in case, we’ve set these terms to govern usage of You Must to make it a fun and safe experience for everyone.</p>

<p>You Must reserves the right to modify these terms at any time. Your usage of You Must signifies your acceptance of these terms. We reserve the right to refuse service to anyone for any reason at any time. We also reserve the right to suspend or terminate the You Must service at any time and for any reason.</p>

<br>

<p>Basic Terms</p>

<ul class="ul_terms">
	<li>You must be 18 years or older to use this site.</li>
	<li>You are responsible for any activity that occurs under your User name or email.</li>
	<li>You are responsible for keeping your password secure.</li>
	<li>You must not abuse, harass, threaten, impersonate or intimidate other You Must users or otherwise interfere with their ability to use and enjoy You Must.</li>
	<li>You may not use the You Must service for any illegal or unauthorized purpose.</li>
	<li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the You Must service.</li>
	<li>You must not create or submit unwanted email to any You Must members ("Spam").</li>
	<li>You may not, in the use of You Must, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
	<li>You may not post or disclose any personally identifiable information belonging to children or displaying material that exploits children under 18 years of age.</li>
	<li>You may not use automated means, including spiders, robots, crawlers, data mining tools, or the like to download data from You Must.</li>
	<li>Please immediately inform You Must if you have reason to believe that another Member is infringing any copyrights or other proprietary materials.</li>
</ul>
<br>
<p>We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use. </p>

<p>You Must makes it possible to post images and text hosted on You Must or hosted on You Must servers to and from outside websites. This use is accepted (and even encouraged!). However, pages on other websites which display data hosted on You Must must provide a link back to You Must.  We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.</p>

<p>You hereby grant You Must and its affiliates a worldwide, non-exclusive, fully paid-up, royalty-free, perpetual, irrevocable, fully sub-licensable, and fully transferable license to use, reproduce, distribute, modify, adapt, prepare derivative works of, incorporate into other works, display, perform, and otherwise use any content you contribute to You Must for any purpose, including without limitation promoting and redistributing part or all of the site (and derivative works thereof) in any media formats and through any media channels now known or later developed.</p>

<p>Within the scope of your use of You Must, there may be certain errors or bugs that affect your use of the site. Along the way, some data may be erased and/or lost. You Must makes no warranty as to the functionality of its software or maintenance and storage of any data you willingly contribute to You Must.</p>
<p> If you find a bug, we'd love to hear from you at some point, after we add our You Must support email</p>