<%= form_for([@must, @comment], :html => {:method => :post, :id => "comment_form"}) do |f| %>
<ul>
	<li>
		<%= f.text_area :content %>
		<%= error_message_on :comment,:description %>
	</li>
	
	<li><input type="submit" id="btn_comment" value="" /></li>	
	</u>
<% end %>

