<% if current_user %>
<% if current_user.has_favorite?(must)%>
<li><%= link_to "", must_unfavorite_path(must), :remote => true, :class => "unbookmark" -%></li>
<% else %>
<li><%= link_to "", must_favorite_path(must), :remote => true, :class => "bookmark" -%></li>
<% end %>
<% end %>